.wrap-logs {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px auto;

  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: #1e1e3f;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  //===============================
  // Editors Chart
  //===============================

  .editors-card {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      color: #4a4a68;
      padding-bottom: 10px;
      text-align: left;
    }

    canvas {
      display: block;
      margin: auto;
      height: auto !important;
      max-height: 400px;
    }
  }

  //===============================
  // Logs Table
  //===============================
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 8px;

    max-height: 600px;
    overflow: auto;
    display: block;

    thead,
    tbody {
      display: block;
      width: 100%;
    }

    thead {
      background-color: #84c5f1;
      color: white;

      position: sticky;
      top: 0;
      z-index: 1;

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }

      th {
        padding: 12px 15px;
        text-align: left;
        font-weight: 600;
        font-size: 0.95rem;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #eee;

        display: table;
        width: 100%;
        table-layout: fixed;

        &:nth-child(even) {
          background-color: #f7f7f7;
        }

        &:hover {
          background-color: #84c5f165;
        }

        td {
          padding: 10px 15px;
          text-align: left;
          color: #333;
          font-size: 0.9rem;
        }
      }
    }

    &[border="1"],
    &[cellpadding="10"],
    &[cellspacing="0"] {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #4a4a68;
    padding-bottom: 10px;
    text-align: left;
  }

  p {
    text-align: center;
    color: #777;
    margin-top: 15px;
  }
}
